<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - BrightBuddies</title>

    <!-- Contact Page CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- CONTACT CONTENT -->

    <div class="info-page">

        <h1>Contact Us</h1>

        <p><strong>Email:</strong> support@brightbuddies.com</p>
        <p><strong>Phone:</strong> +91 89765 78433</p>
        <p><strong>Location:</strong> Bengaluru, Karnataka, India</p>

        <h3>Support Hours</h3>

        <p>Monday - Friday : 9:00 AM - 6:00 PM</p>
        <p>Saturday : 10:00 AM - 4:00 PM</p>
        <p>Sunday : Closed</p>

        <a href="/" class="btn">Back to Home</a>

    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>