<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='student_loginstyle.css') }}">
</head>
<body>

    <div class="login-container">

        <div class="login-box">

            <h1>Student Login</h1>

            <form action="/login_student" method="POST">

                <input type="email" name="email" placeholder="Enter Email" required>

                <input type="password" name="password" placeholder="Enter Password" required>

                <button type="submit">Login</button>

            </form>

            <p>
                Don't have an account?
                <a href="/student-register">Register</a>
            </p>

        </div>

    </div>

</body>
</html>
