<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Login - BrightBuddies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='tutor_loginstyle.css') }}">
</head>
<body>

    <div class="login-container">

        <h1>Tutor Login</h1>

        <form action="/login_tutor" method="POST">

            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit">Login</button>

        </form>

        <p>
            Don't have an account?
            <a href="/tutor-register">Register Here</a>
        </p>

    </div>

</body>
</html>

